InkAPITest/Service References/Ink/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-254-233-245.ap-southeast-1.compute.amazonaws.com/Ink.CandidateTest_deploy/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" />
  <xs:element name="GetAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="request" nillable="true" type="q1:AvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="GetAvailabilityResult" nillable="true" type="q2:AvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="request" nillable="true" type="q3:BookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="CreateNewBookingResult" nillable="true" type="q4:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePaxDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="request" nillable="true" type="q5:SavePaxDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePaxDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ink.CandidateTest" minOccurs="0" name="SavePaxDetailsResult" nillable="true" type="q6:SavePaxDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>